html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, section {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

@font-face {
  font-family: 'fugue';
  src: url("fugue_regular.woff");
}

* {
    box-sizing: border-box;
}

html {
    font-family: fugue;
    font-size: 16px;
    color: #111;
    letter-spacing: .05em;
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%;
}


body {
    width: 100%;
    height: 100%;
    display: flex;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
    padding: 10vw;
    line-height: 1.5em;
}

a {
    display: inline;
    text-decoration: inherit;
    color: inherit;
    border-bottom: 1px solid currentColor;
}

.intro {
    background-color: #eee;

    display: flex;
    justify-content: space-between;
}

.contact {
    display: block;
    background-color: white;
}

.time {
    margin-bottom: 1em;
}